<h1>suterr's fitness tracker!</h1>
<input type="button" value ="Reset to Table" onclick="resetTable()"/>
<table style="width:100%" id="tracker">
  <tr>
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
	<th>lbs</th>
	<th>Date</th>
  </tr>
  <form action="javascript:addRow('tracker')">
  <tr>
	<td><input type="text" name="name" id="add_name" value="New Entry" size="30" maxlength="30">
	<td><input type="number" name="reps" id="add_reps" value="1" min="1">
	<td><input type="number" name="weight" id="add_weight" value="1" min="1">
	<td><input type="number" name="lbs" id="add_lbs" value="1" min="0" max="1">
	<td><input type="date" name="entry Date" id="add_date" value="2019-11-24" size="20">
	<td><input type="submit" value="Add Entry" id="submitEntry">
  </tr>
  </form>
  {{#each dataList}}
  <tr>
    <td>{{this.name}}
	<td>{{this.reps}}
	<td>{{this.weight}}
	<td>{{this.lbs}}
	<td>{{this.date}}
	<td><input type="button" value="Remove Entry" onclick="deleteRow('tracker',this, {{this.id}})" />
	<td><input type="button" value="Edit Entry" onclick="editRow('tracker',{{this.id}})" />
	<input type="hidden" value="this.id}">
	<td>
  </tr>
  {{/each}}
</table>

<script src="/js/tableEdit.js"></script>