<h1>hello</h1>
{{results}}

<table style="width:100%" id="tracker">
  <tr>
    <th>Name</th>
    <th>Reps</th>
    <th>Weight</th>
	<th>lbs</th>
	<th>Date</th>
	<th></th>
  </tr>
  <form>
  {{#each dataList}}
  <tr>
	<td><input type="text" name="Name" id="add_name" value="{{this.name}}" size="30" maxlength="30">
	<td><input type="number" name="Reps" id="add_reps" value="{{this.reps}}" min="1">
	<td><input type="number" name="Weight" id="add_weight" value="{{this.weight}}" min="1">
	<td><input list="lbs" name="lbs" value="{{this.lbs}}" id="add_lbs">
				<datalist id="lbs">
					<option value="true">
					<option value="false">
				</datalist>
	<td><input type="date" name="Entry Date" id="add_date" value="{{this.date}}" size="20">
	<td><input type="button" value ="Update Entry" onclick="updateRow('tracker',{{this.id}})"/>
	<td><input type="button" value ="Back to Table" onclick="backHome()"/>
  </tr>
  </form>
  {{/each}}
</table>

<script src="/js/tableEdit.js"></script>